.bg-blue {
  background-color: #18428a;
}

.text-blue {
  color: #18428a;
}

html {
  font-family: "Roboto", sans-serif !important;
}

.bg-gray {
  background-color: #eeeeee;
}

.bg-rounded-100 {
  background-color: #eeeeee;
  height: fit-content;
  padding: 2rem;
  border-radius: 100%;
}

.job {
  padding: 0;
}

.job:hover {
  box-shadow: rgb(190, 190, 190) 3px 5px 40px;
  transition: all 0.3s ease-in-out;
}

.bg-rounded-5 {}